ip: 192.168.10.10
memory: 1024
cpus: 1
provider: virtualbox
mariadb: true

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: d:/bin/wtserver/WWW/sureclaims/backend
      to: /home/vagrant/sureclaims.co

sites:
    - map: sureclaims.test
      to: /home/vagrant/sureclaims.co/public

databases:
    - sureclaims